img {
    object-fit: cover;
    width: 100%;
    height: 250px;
    border-style: solid;
}

h1 {
    font-family: Georgia, sans-serif;
    font-size: 2em;
    letter-spacing: -2px;
    color: grey;
}

a {
    box-shadow: inset 0 0 0 0 #3b3c3c;
    color: #343637;
}